#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  background-color: #D9BB96!important;
}

select,
textarea {
 background-color: #D7E0E3!important;
 border: 2px solid #A8B7BA!important;
}

img {
  margin: 0 200px;
  width: 300px;
}